:root{   /* criando uma variavel para usar essas variaveis utilize var() */
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}   

.button{
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    cursor: pointer;
}